.conference {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	min-height: 640px;
	@include responsive(handhelds) {
		flex-direction: column;
	}
	@include responsive(medium-screens) {
		flex-direction: column;
	}
	&__item {
		width: 33.3333%;
		@include responsive(handhelds) {
			width: 100%;
		}
		@include responsive(medium-screens) {
			width: 100%;
		}
		@include responsive(hight-screens) {
			width: 22%;
		}
		@include responsive(super-hight-screens) {
			width: 22%;
		}
	}
	&__item--right {
		background: url(../img/right-face-3.png) no-repeat;
		background-position: -484px -8px;
		height: 640px;
		@include responsive(handhelds) {
			height: 480px;
		}
		@include responsive(medium-screens) {
			height: 480px;
			background-position: 0 0;
		}
		@include responsive(hight-screens) {
			display: flex;
			justify-content: flex-end;
			width: 57%;
			background-position: 0px 0px;
		}
		@include responsive(super-hight-screens) {
			justify-content: flex-end;
			width: 57%;
			background-position: 0px 0px;
		}
	}
	&__subitem {
		min-height: 640px;
		@include responsive(handhelds) {
			min-height: 0px;
		}
		@include responsive(medium-screens) {
			min-height: 0px;
		}
	}
	&__subitem--flex {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__img--left {
		background: url(../img/boy-robot.png) no-repeat;
		background-position: -300px -90px;
		height: 640px;
		@include responsive(handhelds) {
			display: none;
		}
		@include responsive(medium-screens) {
			display: none;
		}
		@include responsive(super-hight-screens) {
			background-position: -300px -90px;
		}
	}
	&__img--center {
		background: url(../img/rabbit-404.png) no-repeat;
		background-position: -315px -13px;
		height: 320px;
		@include responsive(medium-screens) {
			background-position: 0px 0px;
			background-size: cover;
		}
	}
	&__text {
		width: 300px;
		float: right;
	}
	&__title {
		@include content-title;
		color: $text-color;
		padding: 21px 29px 4px 31px;
		line-height: 60px;
		@include responsive(tablet) {
			padding: 21px 0px 4px 10px;
		}
	}
	&__title--size {
		font-size: 50px;
	}
	&__title--white {
		color: $white;
		padding: 286px 0px 0 18px;
		@include responsive(handhelds) {
			padding: 220px 0px 0 18px;
		}
		@include responsive(medium-screens) {
			padding: 220px 0px 0 18px;
		}
		@include responsive(tablet) {
			padding: 286px 0px 0 62px;
		}
	}
	&__description {
		width: 250px;
		margin: 0 30px;
		padding-bottom: 118px;
		font-size: 16px;
		@include responsive(tablet) {
			margin: 0 8px;
		}
	}
	&__description--white {
		position: relative;
		color: $white;
		@include responsive(tablet) {
			margin: 0 52px;
		}
	}
	&__description--white:before {
		@include plus;
		border: 1px solid $white;
		color: $white;
		@include responsive(handhelds) {
			display: none;
		}
		@include responsive(medium-screens) {
			display: none;
		}
	}
}
