.header {
	height: 78px;
	width: 100%;
	display: flex;
	position: fixed;
	background: $white;
	z-index: 2;
	@include responsive(wide-screens) {
		justify-content: space-between;
		background: $smoke;
	}
	@include responsive(super-hight-screens) {
		justify-content: space-between;
		background: $smoke;
		max-width: 1440px;
	}
	&__wrapper {
		display: flex;
		width: 100%;
		@include responsive(wide-screens) {
			display: flex;
			justify-content: flex-end;
		}
		@include responsive(super-hight-screens) {
			display: flex;
			justify-content: flex-end;
		}
	}
	&__logo {
		width: 200px;
	}
	&__link {
		text-decoration: none;
		color: $black;
	}
	&__img {
		padding: 30px 0 0 35px;
	}
}

.menu {
	width: 550px;
	@include responsive(handhelds) {
		@include menu-mobile;
	}
	@include responsive(medium-screens) {
		@include menu-mobile;
	}
	@include responsive(tablet) {
		@include menu-mobile;
	}
	&__list {
		display: flex;
		justify-content: space-around;
		padding: 20px 40px 0 0;
		list-style-type: none;
		@include responsive(handhelds) {
			@include mobile-list;
		}
		@include responsive(medium-screens) {
			@include mobile-list;
		}
		@include responsive(tablet) {
			@include mobile-list;
		}
	}
	&__item {
		font-weight: 900;
		font-size: 13px;
		text-transform: uppercase;
		@include responsive(handhelds) {
			@include mobile-item;
		}
		@include responsive(medium-screens) {
			@include mobile-item;
		}
		@include responsive(tablet) {
			@include mobile-item;
		}
	}
	&__link {
		padding: 10px;
		text-decoration: none;
		color: $black;
	}
	&__link:hover {
		border-bottom: 2px solid $black;
	}
	&-burger {
		@include responsive(handhelds) {
			@include mobile-burger;
			right: 15px;
		}
		@include responsive(medium-screens) {
			@include mobile-burger;
		}
		@include responsive(tablet) {
			@include mobile-burger;
		}
	}
}
