.meetings {
	display: flex;
	&__title {
		@include submenu-title;
		display: flex;
		justify-content: flex-end;
		padding: 17px 82px;
		font-size: 36px;
		text-transform: uppercase;
		color: $text-color;
	}
	&__item {
		@include responsive(hight-screens) {
			display: block;
			width: 320px;
			min-height: 5px;
		}
		@include responsive(super-hight-screens) {
			display: block;
			width: 320px;
			min-height: 5px;
		}
	}
	&__item--left {
		display: none;
		@include responsive(hight-screens) {
			display: block;
			width: 22.9%;
		}
		@include responsive(super-hight-screens) {
			display: block;
			width: 22.9%;
		}
	}
	&__item--center {
		position: relative;
		width: 66.666666%;
		background: $bg-yellow;
		@include responsive(handhelds) {
			width: 100%;
		}
		@include responsive(hight-screens) {
			display: block;
			width: 45.33%;
		}
		@include responsive(super-hight-screens) {
			display: block;
			width: 45.33%;
		}
	}
	&__item--center:before {
		@include plus;
	}
	&__item--right {
		display: none;
		@include responsive(hight-screens) {
			width: 33%;
		}
		@include responsive(super-hight-screens) {
			width: 33%;
		}
	}
}
