.hash {
	position: absolute;
	top: 290px;
	left: 40px;
	display: none;
	width: 25px;
	@include responsive(hight-screens) {
		display: block;
		color: lighten(#4d3a3b, 0.3)
	}
	@include responsive(super-hight-screens) {
		display: block;
		color: #999999;
	}
}

.js-menu {
	display: block;
	@include responsive(handhelds) {
		display: none;
	}
	@include responsive(medium-screens) {
		display: none;
	}
	@include responsive(tablet) {
		display: none;
	}
}

.js-menu--open {
	@include responsive(handhelds) {
		display: block;
	}
	@include responsive(medium-screens) {
		display: block;
	}
	@include responsive(tablet) {
		display: block;
	}
}

.header__js-menu--close {
	@include responsive(handhelds) {
		@include menu-close;
	}
	@include responsive(medium-screens) {
		@include menu-close;
	}
	@include responsive(tablet) {
		@include menu-close;
		right: 35px;
	}
}
