.hash {
	position: absolute;
	top: 290px;
	left: 40px;
	display: none;
	width: 25px;
	@include responsive(hight-screens) {
		display: block;
		color: lighten(#4d3a3b, 0.3)
	}
	@include responsive(max-hight-screens) {
		display: block;
		color: #999999;
	}
}

.js-menu {
	display: block;
	@include responsive(handhelds) {
		display: none;
	}
	@include responsive(tablet) {
		display: none;
	}
}

.js-menu--open {
	@include responsive(handhelds) {
		display: block;
	}
	@include responsive(tablet) {
		display: block;
	}
}

.header__js-menu--close {
	@include responsive(handhelds) {
		background: url(../img/no.svg) no-repeat;
		width: 26px;
		height: 26px;
		position: absolute;
		top: 24px;
		right: 15px;
	}
	@include responsive(tablet) {
		background: url(../img/no.svg) no-repeat;
		width: 26px;
		height: 26px;
		position: absolute;
		top: 24px;
		right: 35px;
	}
}
