.stuff {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	min-height: 100px;
	@include responsive(handhelds) {
		flex-direction: column;
	}
	&__item {
		width: 33.3333%;
		@include responsive(handhelds) {
			width: 100%;
		}
		@include responsive(medium-screens) {
			width: 50%;
		}
		@include responsive(tablet) {
			width: 34.5%
		}
		@include responsive(hight-screens) {
			width: 25%;
		}
		@include responsive(max-hight-screens) {
			width: 25%;
		}
	}
	&__item--right {
		position: relative;
		background: url(../img/stuff-right.png) no-repeat;
		background-position: -321px -374px;
		height: 641px;
		@include responsive(handhelds) {
			height: 320px;
			background-size: cover;
			background-position: 0px -100px;
		}
		@include responsive(medium-screens) {
			height: 320px;
			background-size: cover;
			background-position: 0px 0px;
		}
		@include responsive(hight-screens) {
			width: 60%;
			background-position: -28px -381px;
		}
		@include responsive(max-hight-screens) {
			width: 60%;
			background-position: -28px -381px;
		}
	}
	&__subitem {
		min-height: 640px;
		@include responsive(handhelds) {
			min-height: 100px;
		}
		@include responsive(medium-screens) {
			min-height: 100px;
		}
	}
	&__subitem--flex {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__img--left {
		background: url(../img/stuff-left.png) no-repeat;
		height: 641px;
		@include responsive(handhelds) {
			height: 320px;
			background-size: cover;
		}
		@include responsive(medium-screens) {
			height: 320px;
			background-size: cover;
		}
	}
	&__img--center {
		background: url(../img/stuff-center.png) no-repeat;
		background-position: -320px -70px;
		height: 321px;
		@include responsive(handhelds) {
			display: none;
		}
		@include responsive(medium-screens) {
			display: none;
		}
	}
	&__title {
		@include content-title;
		color: $text-color;
		padding: 21px 29px 4px 29px;
		line-height: 60px;
	@include responsive(medium-screens) {
		font-size: 42px;
	}
	}
	&__title--size {
		font-size: 58px;
	@include responsive(medium-screens) {
		font-size: 42px;
	}
}
	&__title--fonts {
		color: $white;
		line-height: 65px;
		padding-top: 324px;
		padding-left: 34px;
		@include responsive(handhelds) {
			padding-top: 100px;
			color: $text-color;
		}
		@include responsive(medium-screens) {
			padding-top: 21px;
			padding-left: 34px;
			line-height: 60px;
			color: $text-color;
		}
		@include responsive(tablet) {
			padding-left: 15px;
		}
		@include responsive(hight-screens) {
			width: 300px;
			font-size: 73px;
			color: $text-color;
		}
		@include responsive(max-hight-screens) {
			width: 300px;
			font-size: 73px;
			color: $text-color;
		}
	}
	&__description {
		// width: 250px;
		margin: 0 30px;
		padding-bottom: 118px;
		font-size: 16px;
		@include responsive(medium-screens) {
			padding-bottom: 0;
			word-break: break-word;
		}
		@include responsive(tablet) {
			margin: 0 10px;
		}
	}
	&__description--fonts {
		color: $white;
		padding-top: 13px;
		padding-left: 10px;
		@include responsive(handhelds) {
			padding-left: 0px;
			color: $black;
		}
		@include responsive(medium-screens) {
			padding-top: 0;
			padding-left: 0px;
			color: $black;
		}
		@include responsive(hight-screens) {
			color: $text-color;
		}
		@include responsive(max-hight-screens) {
			color: $text-color;
		}
	}
	&__description--fonts:before {
		content: '+';
		display: block;
		position: absolute;
		bottom: 50px;
		padding: 2px 7px;
		width: 42px;
		height: 42px;
		border: 1px solid $white;
		border-radius: 50%;
		font-size: 30px;
		color: $white;
		@include responsive(handhelds) {

		}
		@include responsive(medium-screens) {
			display: none;
		}
		// 	@include responsive(hight-screens) {
		// 		border: 1px solid $text-color;
		// 	}
		// 	@include responsive(max-hight-screens) {
		// 		border: 1px solid $text-color;
		// 	}
		// }
	}
}
