.team {
	overflow: hidden;
	padding-top: 78px;
	min-height: 240px;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	background: $bg-blue;
	@include responsive(handhelds) {
		display: block;
	}
	&__item {}
	&__item--right {
		display: none;
		@include responsive(hight-screens) {
			display: block;
			background: $white;
			width: 30%;
		}
		@media($desktop-high) {
			display: block;
			background: $white;
			width: 30%;
		}
	}
	&__item--center {
		width: 33.333%;
		@include responsive(handhelds) {
			width: 100%;
		}
		@include responsive(tablet) {
			width: 37%;
		}
		@include responsive(hight-screens) {
			display: block;
			width: 37%;
			padding: 0 0 0 35px;
		}
		@media($desktop-high) {
			display: block;
			width: 37%;
			padding: 0 0 0 35px;
		}
	}
	&__item--left {
		display: none;
		@include responsive(hight-screens) {
			display: block;
			background: $white;
			width: 15%;
		}
		@media($desktop-high) {
			display: block;
			background: $white;
			width: 15%;
		}
	}
	&__item--img {
		background: url(../img/team.png) no-repeat;
		width: 60%;
		@include responsive(handhelds) {
			width: 100%;
			height: 81px;
		}
		@include responsive(hight-screens) {
			display: block;
			width: 53%;
		}
		@media($desktop-high) {
			display: block;
			width: 53%;
		}
	}
	&__title {
		font-size: 25px;
		// line-height: 9px;
		color: $white;
		text-transform: uppercase;
		padding: 45px 0 0 0;
		@include responsive(handhelds) {
			padding: 5px 0 0px 0;
			text-align: center;
		}
	}
	&__description {
		color: $white;
		width: 272px;
		@include responsive(handhelds) {
			text-align: center;
			margin: 0 auto;
			padding-bottom: 15px;
		}
	}
}
