/*Media*/
$mobile: ('max-width: 414px');
$tablet-min: 768px;
$tablet-max: 957px;
$tablet: 981px;
$desktop: 1441px;
$desktop-high: ('min-width: 1441px');

/*Colors*/
$woody-brown: #483435;
$half-baked: #90ccd1;
$energy-yellow: #fad35d;
$froly: #f67e79;
$mercury: #e1e1e1;
$smoke: #f5f5f5;
$white: #ffffff;
$black: #000000;
$cerulean: #00abf0;

/*style color*/
$text-color: $woody-brown;
$bg-blue: $half-baked;
$bg-yellow: $energy-yellow;
$bg-pink: $froly;
$bg-grey: $mercury;
$social-color: $cerulean;


/*Typography*/

$font-family-base: 'HeliosThinC',Arial,Helvetica,sans-serif;
$font-family-header: 'HeliosC',Arial,Helvetica,sans-serif;
$font-family-menu: 'HeliosCondC',Arial,Helvetica,sans-serif;
$font-size-title: 58px;
$font-size-base: 13px;
$font-style-text: 14px;
