/*Media*/
$mobile: 414px;
$tablet: 981px;
$desktop: 1441px;

/*Colors*/
$woody-brown: #483435;
$half-baked: #90ccd1;
$energy-yellow: #FAD35D;
$froly: #F67E79;
$mercury: #E1E1E1;
$white: #FFFFFF;
$black: #000000;
$cerulean: #00ABF0;

/*style color*/
$text-color: $woody-brown;
$bg-blue: $half-baked;
$bg-yellow: $energy-yellow;
$bg-pink: $froly;
$bg-grey: $mercury;
$social-color: $cerulean;


/*Typography*/

$font-family-base: 'HeliosThinC',Arial,Helvetica,sans-serif;
$font-family-header: 'HeliosC',Arial,Helvetica,sans-serif;
$font-family-menu: 'HeliosCondC',Arial,Helvetica,sans-serif;
$font-size-title: 58px;
$font-size-base: 13px;
$font-style-text: 14px;
