@font-face {
	font-family: "HeliosThinC";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/HeliosThinC.otf");
}

@font-face {
	font-family: "HeliosCondC";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/HeliosCondC.otf");
}

@font-face {
	font-family: "HeliosC";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/HeliosC.otf");
}
