	@font-face {
		font-family: 'HeliosThinC';
		font-weight: 400;
		font-style: normal;
		src: url('../fonts/HeliosThinC.eot');
		src: url('../fonts/HeliosThinC.eot?#iefix') format('embedded-opentype'),
				 url("../fonts/HeliosThinC.otf"),
				 url('../fonts/HeliosThinC.woff2') format('woff2'),
				 url('../fonts/HeliosThinC.woff') format('woff'),
				 url('../fonts/HeliosThinC.ttf') format('truetype'),
				 url('../fonts/HeliosThinC.svg#HeliosThinC') format('svg');
}

@font-face {
	font-family: "HeliosCondC";
	font-weight: 400;
	font-style: normal;
		src: url('../fonts/HeliosCondC.eot');
		src: url('../fonts/HeliosCondC.eot?#iefix') format('embedded-opentype'),
				 url("../fonts/HeliosCondC.otf"),
				 url('../fonts/HeliosCondC.woff2') format('woff2'),
				 url('../fonts/HeliosCondC.woff') format('woff'),
				 url('../fonts/HeliosCondC.ttf') format('truetype'),
				 url('../fonts/HeliosCondC.svg#HeliosCondC') format('svg');
}

@font-face {
	font-family: "HeliosC";
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/HeliosC.eot');
	src: url('../fonts/HeliosC.eot?#iefix') format('embedded-opentype'),
			 url("../fonts/HeliosC.otf"),
			 url('../fonts/HeliosC.woff2') format('woff2'),
			 url('../fonts/HeliosC.woff') format('woff'),
			 url('../fonts/HeliosC.ttf') format('truetype'),
			 url('../fonts/HeliosC.svg#HeliosC') format('svg');
}
