.conference {
	 width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 640px;

	&__grid {

	}

	&__grid--layout-main {
		width: 33.33333%;
	}
	&__grid--layout {
		width: 33.33333%;
	}
}
