.header {
	height: 78px;
	width: 100%;
	display: flex;
	position: fixed;
	background: $white;
	z-index: 2;
	@include responsive(wide-screens) {
		justify-content: space-between;
		background: $smoke;
	}
	@media($desktop-high) {
		justify-content: space-between;
		background: $smoke;
	}
	&__wrapper {
		display: flex;
		width: 100%;
		@include responsive(wide-screens) {
			display: flex;
			justify-content: flex-end;
		}
		@media($desktop-high) {
			display: flex;
			justify-content: flex-end;
		}
	}
	&__logo {
		width: 200px;
	}
	&__link {
		text-decoration: none;
		color: $black;
	}
	&__img {
		padding: 30px 0 0 35px;
	}
	&__menu {
		width: 550px;
		@media($mobile) {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			text-align: center;
			display: none;
		}
		@include responsive(tablet) {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			text-align: center;
			display: none;
		}
	}
	&__list {
		display: flex;
		justify-content: space-around;
		padding: 20px 40px 0 0;
		list-style-type: none;
		@media($mobile) {
			flex-direction: column;
			background: white;
			padding: 0;
		}
		@include responsive(tablet) {
			flex-direction: column;
			background: white;
			padding: 0;
		}
	}
	&__item {
		font-weight: 900;
		font-size: 13px;
		text-transform: uppercase;
		@media($mobile) {
			padding: 15px;
			font-size: 17px;
		}
		@include responsive(tablet) {
			padding: 15px;
			font-size: 17px;
		}
	}
	&__menu--burger {
		@media($mobile) {
			background: url(../img/menu-burger.svg) no-repeat;
			position: absolute;
			top: 24px;
			right: 10px;
			height: 30px;
			width: 30px;
		}
		@include responsive(tablet) {
			background: url(../img/menu-burger.svg) no-repeat;
			position: absolute;
			top: 24px;
			right: 35px;
			height: 30px;
			width: 30px;
		}
	}
}
