.project {
	width: 66.666666%;
	height: 80px;
	background: $bg-pink;
	position: relative;


	&__title {
		@include submenu-title;
		display: flex;
		justify-content: flex-end;
		padding: 17px 82px;
		font-size: 36px;
		text-transform: uppercase;
		color: $text-color;
		}
	&:before {
		content: '+';
		display: block;
		position: absolute;
		right: 26px;
		top: 17px;
		padding: 2px 7px;
		width: 42px;
		height: 42px;
		border: 1px solid #483435;
		border-radius: 50%;
		font-size: 30px;
	}
	}
