.project {
	display: flex;
	&__title {
		@include submenu-title;
		display: flex;
		justify-content: flex-end;
		padding: 17px 90px;
		font-size: 36px;
		text-transform: uppercase;
		color: $text-color;
	}
	&__item {
		@include responsive(hight-screens) {
			display: block;
			width: 320px;
			min-height: 5px;
		}
		@media($desktop-high) {
			display: block;
			width: 320px;
			min-height: 5px;
		}
	}
	&__item--left {
		display: none;
		@include responsive(hight-screens) {
			display: block;
			width: 22.5%;
		}
		@media($desktop-high) {
			display: block;
			width: 22.5%;
		}
	}
	&__item--center {
		position: relative;
		width: 66.666666%;
		background: $bg-pink;
		@include responsive(hight-screens) {
			display: block;
			width: 45%;
		}
		@media($desktop-high) {
			display: block;
			width: 45%;
		}

	}
	&__item--center:before {
		content: '+';
		display: block;
		position: absolute;
		right: 31px;
		top: 17px;
		padding: 2px 7px;
		width: 42px;
		height: 42px;
		border: 1px solid #483435;
		border-radius: 50%;
		font-size: 30px;
	}
	&__item--right {
		display: none;
		@include responsive(hight-screens) {
			width: 33%;
		}
		@media($desktop-high) {
			width: 33%;
		}
	}
}
