.stuff {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 636px;
	&__item {
		width: 33.3333%;
		@include responsive(hight-screens) {
			width: 25%;
		}
	}
	&__item--right {
		position: relative;
		background: url(../img/right-face--2.png) no-repeat;
		background-position: -321px -374px;
		height: 640px;
		@include responsive(hight-screens) {
			width: 60%;
			background-position:-28px -381px;
		}
	}
	&__subitem {
		height: 640px;
	}
	&__subitem--flex {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__img--left {
		background: url(../img/left-block.png) no-repeat;
		// background-position: -304px -90px;
		height: 640px;
	}
	&__img--center {
		background: url(../img/center-face.png) no-repeat;
		background-position: -320px -70px;
		height: 321px;
	}
	&__title {
		@include content-title;
		color: $text-color;
		margin: 21px 29px 4px 29px;
		line-height: 60px;
	}
	&__title--size {
		font-size: 58px;
	}
	&__title--fonts {
		color: $white;
		line-height: 65px;
		padding-top: 310px;
		padding-left: 17px;
		@include responsive(hight-screens) {
			color: $text-color;
		}
		@media($desktop-high) {
			color: $text-color;
		}
	}
	&__description {
		width: 250px;
		margin: 0 30px;
		padding-bottom: 118px;
		font-size: 16px;
	}
	&__description--fonts {
		color: $white;
		padding-top: 13px;
		padding-left: 28px;
		@include responsive(hight-screens) {
			color: $text-color;
		}
		@media($desktop-high) {
			color: $text-color;
		}
	}
}

.hash {
	position: absolute;
	top: 310px;
	left: 50px;
	display: none;
	width: 25px;
	@include responsive(hight-screens) {
		display: block;
		color: lighten(#4d3a3b, 0.3)
	}
	@media($desktop-high) {
		display: block;
		color: #999999;
	}
}
