.team {
	overflow: hidden;
	padding-top: 78px;
	height: 240px;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	background: $bg-blue;
	&__item {
	}
	&__item--right {
		display: none;
		@include responsive(hight-screens) {
			display: block;
			background: $white;
			width: 30%;
			}
		@media($desktop-high) {
			display: block;
			background: $white;
			width: 30%;
		}
	}
	&__item--center {
		// padding: 0 0 0 35px;
		width: 33.333%;
		@include responsive(hight-screens) {
			display: block;
			width: 37%;
			padding: 0 0 0 35px;
			}
		@media($desktop-high) {
			display: block;
			width: 37%;
			padding: 0 0 0 35px;
		}
	}
	&__item--left {
		display: none;
		@include responsive(hight-screens) {
			display: block;
			background: $white;
			width: 15%;
			}
		@media($desktop-high) {
			display: block;
			background: $white;
			width: 15%;
		}
	}

	&__item--img {
		background: url(../img/face.png) no-repeat;
		width: 60%;
		@include responsive(hight-screens) {
			display: block;
			width: 53%;
			}
		@media($desktop-high) {
			display: block;
			width: 53%;
		}
		}


	&__title {
		font-size: 25px;
		line-height: 9px;
		color: $white;
		text-transform: uppercase;
		padding: 45px 0 0 0;
	}
	&__description {
		color: $white;
		width: 265px;
	}

}
